<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOqr4mEJxXzpZWk1Gvg2Irytdg8Nr7eK0</string>
	<key>GCM_SENDER_ID</key>
	<string>715154792144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wifiGeoMap</string>
	<key>PROJECT_ID</key>
	<string>wifi-geo-map</string>
	<key>STORAGE_BUCKET</key>
	<string>wifi-geo-map.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715154792144:ios:b9352696fc59ff9fc448d5</string>
</dict>
</plist>